<div class="form--inactive" id="auth_form"; style="padding: 1em;
  font-size: 2em;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 100%;
  background-image: linear-gradient(rgba(8,16,8,0.68), rgba(8,50,53,0.27));">

    <div class="row" >
        <div class="col-md-8 text-center">
            <form action="/fond16/login/" class="registry-form" method="post" id="login_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input type="text" class="form-control" name="username" form="login_form" formmethod="post">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="text" class="form-control" name="password" form="login_form" formmethod="post">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn btn-special" value="Войти">
                    <input type="button" class="btn btn btn-special cancel-auth" value="Отмена">
                </div>

            </form>
        </div>
    </div>
</div>