{% extends 'base.html' %}
{% block main %}
    <div class="col-md-8 col-md-offset-2 gtco-heading text-center" style="margin-top: 20px; margin-bottom: 20px">
                    <a id='coord_d_1' class="btn btn-cta" href="/coordination_illness/adult/" style="target: '#coord_d_1'; font-family: 'Calibri Light' ">18 - 60 лет</a>
                    <a id='coord_d_2' class="btn btn-cta" href="/coordination_illness/pensioners/" style="target: 'coord_d_2'; font-family: 'Calibri Light' " >От 61 года</a>
                    <a id='coord_d_3' class="btn btn-cta" href="/coordination_illness/child/" style="target: '#coord_d_3'; font-family: 'Calibri Light' " >Дети старше 1 года</a>
                    <a id='coord_d_4' class="btn btn-cta" href="/coordination_illness/babies/" style="target: '#coord_d_4'; font-family: 'Calibri Light' " >Дети до 1 года</a>
                    <a id='coord_d_5' class="btn btn-cta" href="/coordination_illness/all/" style="target: '#coord_d_5'; font-family: 'Calibri Light'; font-weight: bold; color: #00b8d4; " >Всего</a>

                </div>
    <div class="gtco-loader"></div>

                <div class="row">
                    <table id="table_illness" class="table-striped table-death"; style="margin-left: 30px; margin-right: 30px; margin-bottom: 100px; font-family: 'Calibri Light'">

                        <tr>
                            <th rowspan="2" class="first table-death-head">Страховая медицинская организация</th>
                            <th rowspan="2" class="first table-death-head">Медицинская организация</th>
                            <th colspan="2" class="first table-death-head">Заболевания</th>
                            <th rowspan="2" class="first table-death-head">Код по МКБ-10</th>
                            <th colspan="4" class="first table-death-head">Количество случаев, в том числе:</th>

                        </tr>
                        <tr>
                            <th class="table-death-head">Код строки</th>
                            <th class="table-death-head">Заболевания, явившиеся причиной смерти</th>
                            <th class="table-death-head">Амбулаторно-поликлинической медицинской помощи</th>
                            <th class="table-death-head">Стационарной медицинской помощи</th>
                            <th class="table-death-head">Стационарнозамещающей медицинской помощи</th>
                            <th class="table-death-head">Скорой медицинской помощи вне медицинской организации</th>
                        </tr>
                        {% for smo_name, smo in data.items %}
                            <tr>
                                <th rowspan="{{ smo_list_len }}">{{ smo_name }}</th>

                            {% for mo_name, mo in smo.items %}

                                <th rowspan="{{ mo_list_len }}">{{ mo_name }}</th>

                                {% for row in mo %}
                                    <tr>
                                        {%  for item in row %}
                                        <td>{{ item }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                            {% endfor %}
                            </tr>
                        {% endfor %}

                    </table>
                </div>

{% endblock main %}