{% extends 'base.html' %}
{% block main %}

		<div class="gtco-services gtco-section">
			<div class="gtco-container">
				<div class="row row-pb-sm">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Работа с поручениями</h2>
						<p>Просмотр уже составленного поручения, либо составление нового поручения</p>
						<p><a href="/documents/new/" class="btn btn-special">Создать поручение</a></p>
					</div>
				</div>
				<div class="row row-pb-md">


					<div class="col-md-4 col-sm-4 service-wrap">
						<div class="service">
							<h3><i class="ti-ruler-pencil"></i>Поручение 27.05.2019г.</h3>
							<p>В целях пеализации пункта 9.2 Порядка предоставления отчетности
                                о случаях медицинской помощи и результатах экспертизы качества
                                медицинской помощи - Приложения №2 к приказу Федерального фонда
                                обязательного медицинского страхования от 04.06.2018 №104
                                "Об установлении формы и порядка предоставления отчетности
                                о случаях оказания медицинской помощи и результатах экспертизы
                                качества медицинской помощи"</p>
						</div>
					</div>
                    <div class="col-md-4 col-sm-4 service-wrap">
						<div class="service">
							<h3><i class="ti-ruler-pencil"></i>Поручение 12.05.2019г.</h3>
							<p>В целях пеализации пункта 9.2 Порядка предоставления отчетности
                                о случаях медицинской помощи и результатах экспертизы качества
                                медицинской помощи - Приложения №2 к приказу Федерального фонда
                                обязательного медицинского страхования от 04.06.2018 №104
                                "Об установлении формы и порядка предоставления отчетности
                                о случаях оказания медицинской помощи и результатах экспертизы
                                качества медицинской помощи"</p>
						</div>
					</div>
                    <div class="col-md-4 col-sm-4 service-wrap">
						<div class="service">
							<h3><i class="ti-ruler-pencil"></i>Поручение 06.05.2019г.</h3>
							<p>В целях пеализации пункта 9.2 Порядка предоставления отчетности
                                о случаях медицинской помощи и результатах экспертизы качества
                                медицинской помощи - Приложения №2 к приказу Федерального фонда
                                обязательного медицинского страхования от 04.06.2018 №104
                                "Об установлении формы и порядка предоставления отчетности
                                о случаях оказания медицинской помощи и результатах экспертизы
                                качества медицинской помощи"</p>
						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- END .gtco-services -->





{% endblock main %}